p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #081528;
}

text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #081528;
}

h4 {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    color: #AA4433;
}

div {
    text-align: left;
    width: 300px;
}

a:link {
    color: #081528;
}

.logo {
    height: 52px;
    width: 52px;
    float: left;
}

.linkedin {
    height: 28px;
    width: 28px;
}

.greeting {
    text-align: left;
    font-weight: 600;
}

.header {
    background-color: #FFDDB0;
    vertical-align: middle;
}

.styled-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-family: Arial, sans-serif;
    width: 275px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #338A17;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #338A17;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #338A17;
}

.spaced {
    display: flex;
    justify-content: space-between;
}

.update {
    border-radius: 4px;
    background-color: #D1F7C4;
    border: none;
    color: #338A17;
    text-align: center;
    padding: 7px 12px;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.update:hover {
    opacity: 1;
}

.clipboard {
    background-color: #FFDDB0;
    color: #AA4433;
}

/*
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}
*/

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%
}

input:checked + .slider {
    background-color: #93e088; /*greenLight1*/
}

input:focus + .slider {
    box-shadow: 0 0 1px #93e088; /*greenLight1*/
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

.extra {
    text-align: center;
    font-size: 11px;
    padding: 8px 8px;
    cursor: pointer;
}
