p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #444444;
}

h4 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #444444;
}

div {
    text-align: center;
    width: 300px;
}

.header {
    background-color: #FEE2D5; 
}

.footer {
    display: flex;
    justify-content: space-between;
}

.update {
    border-radius: 4px;
    background-color: #9cc7ff;
    border: none;
    color: #2750AE;
    text-align: center;
    font-size: 14px;
    padding: 9px 32px;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.update:hover {
    opacity: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%
}

input:checked + .slider {
    background-color: #93e088; /*greenLight1*/
}

input:focus + .slider {
    box-shadow: 0 0 1px #93e088; /*greenLight1*/
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.extra {
    border-radius: 4px;
    background-color: #d1f7c4; /*greenLight2*/
    border: none;
    color: #338a17; /*greenDark1*/
    text-align: center;
    font-size: 12px;
    padding: 8px 8px;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.extra:hover {
    opacity: 1;
}